{% extends 'admin/layout.html.twig' %}

{% block title %}Продукты{% endblock %}

{% block h1 %}Продукты{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('product_create') }}" class="btn btn-success mb-2">
                <span data-feather="plus"></span> Создать
            </a>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="d-flex">
                    <th scope="col" class="col-md-2">ID</th>
                    <th scope="col" class="col-md-5">Название</th>
                    <th scope="col" class="col-md-1">Картинка</th>
                    <th scope="col" class="col-md-4">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for product in pagination %}
                    {# @var \App\Entity\Product product #}
                    <tr class="d-flex">
                        <th scope="row" class="col-md-2">{{ product.id }}</th>
                        <td class="col-md-5">{{ product.title|u.truncate(64, '...') }}</td>
                        <td class="col-md-1">
                            <img src="{{ asset(product.image.path, product.image.packageName) }}"
                                 alt="Нет изображения"
                                 class="img-thumbnail"
                                 width="50px"
                                 height="50px">
                        </td>
                        <td class="col-md-4">
                            <a href="{{ path('product', {'slug': product.slug}) }}" target="_blank"
                               class="btn btn-outline-primary text-nowrap">
                                <span data-feather="eye"></span> Просмотреть
                            </a>
                            <a href="{{ path('product_update', {'id': product.id}) }}"
                               class="btn btn-primary text-nowrap">
                                <span data-feather="edit"></span> Редактировать
                            </a>
                            <a href="{{ path('product_delete', {'id': product.id}) }}"
                               class="btn btn-danger text-nowrap">
                                <span data-feather="x-square"></span> Удалить
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-auto">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}