{% extends 'base.html.twig' %}

{% block title %}Управление пользователями{% endblock %}

{% block body %}
    <main role="main">
        <div class="album py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center mb-5">Управление пользователями</h1>
                    </div>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Права доступа</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in pagination %}
                            {# @var user \App\Entity\User #}
                            <tr>
                                <th scope="row">{{ user.id }}</th>
                                <td>{{ user.email }}</td>
                                <td>
                                    {% for role in user.roles %}
                                        <span class="badge badge-primary">{{ role|trans({}, 'user') }}</span>
                                    {% endfor %}
                                </td>

                                <td>
                                    <a href="{{ path('user_update', {'id': user.id}) }}"
                                       class="btn btn-sm {% if is_granted('ROLE_USER_UPDATE') %} btn-outline-primary {% else %} btn-outline-secondary disabled {% endif %}"
                                    >Редактировать</a>
                                    <form class="d-inline" action="{{ path('user_remove', {'id': user.id}) }}"
                                          method="post"
                                          onsubmit="return confirm('Удалить пользователя?');">
                                        <input type="hidden" name="_method" value="delete">
                                        <input type="hidden" name="token" value="{{ csrf_token('user') }}">
                                        <button class="d-inline btn btn-sm {% if is_granted('ROLE_USER_DESTROY') %} btn-outline-danger {% else %} btn-outline-secondary disabled {% endif %}"
                                                type="submit">Удалить
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-auto">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
